@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Bold.ttf) format('ttf');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Regular.ttf) format('ttf');
  font-weight: 200;
}
