%content {
  content: '';
  position: absolute;
}

.glitch {
  cursor: progress;
  height: 80rem;
  width: 100%;
  display: grid;
  grid-template: repeat(24, 1fr) / repeat(auto-fit, minmax(0, 1fr));
  * {
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
  }
  &-one {
    grid-column: 1 / 7;
    grid-row: 6 / 20;
    //background-image: url('../img/gravel.png');
    filter: saturate(20) hue-rotate(180deg) brightness(1.2);
    animation: glitch-one 4.2s infinite steps(47, end);
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:before {
      top: 0;
      @extend %content;
      height: 30rem;
      width: 6rem;
      transform: translateY(-100%);
      left: 3rem;
      background-image: url('../img/g-building-cut.png');
      animation: glitch-one 8.2s infinite steps(17);
    }
    &:after {
      overflow: hidden;
      content: '';
      top: 0;
      left: 43%;
      width: 57%;
      height: 100%;
      position: absolute;
      background-color: red;
      z-index: 10;
      background-image: url('../img/g-building-cut.png');
      background-repeat: repeat-x;
      background-size: 3px 100%;
    }
    &:hover {
      &:after {
        animation: glitch-one 0.6s infinite steps(9);
        transform: rotateY(180deg);
      }
    }
  }
  &-two {
    grid-column: 4 / 10;
    grid-row: 10 / 22;
    animation: glitch-two 5.2s infinite steps(40, end);
    &:before {
      transition: all 0.1s;
      overflow: hidden;
      content: '';
      top: 20%;
      left: 33%;
      width: 100%;
      max-width: 72px;
      height: 78px;
      position: absolute;
      z-index: 10;
      background-image: url('../img/g-mona-lisa-eyes.png');
    }
    &:after {
      top: 0;
      @extend %content;
      content: '$$$$';
      font-size: 3vw;
      height: 40rem;
      width: 1rem;
      transform: translateY(20%);
      left: 0;
      bottom: 0;
      background-color: var(--colorBlack);
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      line-height: 0.7;
      color: var(--colorBlack);
      animation: block 1.5s infinite steps(13) alternate-reverse;
    }
    &:hover {
      &:before {
        top: 24%;
        left: 22%;
        max-width: 140px;
        transform: rotateY(180deg) scale(1.3);
        background-repeat: no-repeat;
      }
      ~ .glitch-three {
        transform: translateX(-2rem);
      }
    }
  }
  &-three {
    grid-column: 8 / 11;
    grid-row: 1 / 14;
    background-color: green;
    animation: glitch-four 9.2s infinite steps(15, end) alternate-reverse;
    img {
      height: 100%;
    }
    &:before {
      top: 0;
      @extend %content;
      height: 40rem;
      width: 3rem;
      transform: translateY(-90%);
      left: 4rem;
      background-color: var(--colorBlack);
    }
  }
  &-four {
    grid-column: 10 / 13;
    grid-row: 3 / 20;
    background-color: pink;
    animation: glitch-four 4.2s infinite steps(23, end);
    &:before {
      top: 0;
      @extend %content;
      height: 40rem;
      width: 4rem;
      transform: translateY(-130%);
      left: 4rem;
      background-image: url('../img/g-lines.png');
    }
  }
  &-five {
    grid-column: 12 / 14;
    grid-row: 8 / 25;
    background-color: orange;
    filter: saturate(1) brightness(1.2) contrast(1.3);
    &:before {
      @extend %content;
      height: 20rem;
      width: 2rem;
      bottom: 0;
      transform: translateY(100%);
      left: 2rem;
      bottom: 0;
      background-color: orange;
      background-image: url('../img/g-eyes.png');
    }
  }
  &-six {
    grid-column: 13 / 18;
    grid-row: 13 / 19;
    background-color: purple;
    filter: hue-rotate(180deg);
    animation: block 1.5s infinite steps(33, end);
    &:hover {
      animation: block 1.5s infinite steps(33, end);
    }
  }
  &-seven {
    grid-column: 15 / 16;
    grid-row: 16 / 23;
    background-color: brown;
    &:before {
      top: 0;
      @extend %content;
      height: 40rem;
      width: 3rem;
      transform: translateY(60%);
      left: 4rem;
      bottom: 0;
      background-color: var(--colorBlack);
    }
  }
  &-eight {
    grid-column: 16 / 20;
    grid-row: 10 / 21;
    background-color: blue;
    animation: glitch-four 3.2s infinite steps(15, end) alternate-reverse;
    z-index: 10;
    &:hover {
      animation: glitch-four 0.2s infinite steps(4, end) alternate-reverse;
    }
    // filter: saturate(4) hue-rotate(20deg) brightness(2.2) contrast(4);
  }
  &-nine {
    grid-column: 18 / 21;
    grid-row: 5 / 22;
    background-color: hotpink;
    filter: hue-rotate(40deg);
    &:before {
      top: 0;
      @extend %content;
      height: 40rem;
      width: 2rem;
      transform: translateY(-130%);
      left: -4rem;
      background-color: var(--colorBlack);
    }
  }
  &-ten {
    grid-column: 20 / 22;
    grid-row: 6 / 23;
    animation: glitch-ten 10s infinite steps(13, end);
    &:before {
      @extend %content;
      height: 10rem;
      width: 10rem;
      top: 0;
      transform: translateY(-300%);
      left: 4rem;
      background-image: url('../img/g-lines-two.png');
      background-size: 100% 50%;
    }
  }
  &-eleven {
    grid-column: 22 / 24;
    grid-row: 9 / 25;
    background-color: lightgreen;
    transform: rotate(180deg);
    animation: glitch-ten 10s infinite steps(13, end);

    &:before {
      @extend %content;
      height: 20rem;
      width: 5rem;
      bottom: 0;
      transform: translateY(140%);
      left: -3rem;
      bottom: 0;
      background-color: lightgreen;
      animation: block 1.5s infinite steps(13) alternate-reverse;
      background-image: url('../img/g-building-cut.png');
    }

    &:hover {
      background-color: red;
      &:before {
        background-image: url('../img/transparant.png');
        background-size: 7%;
      }
    }
  }
  &-twelve {
    animation: glitch-two 5.2s infinite steps(27, end);
    grid-column: 23 / 25;
    grid-row: 3 / 20;
    background-color: peachpuff;
  }
}
