$defaultPadding: 0.5rem;
$fontSize: 1rem;
$headerSize: 2rem;

@media print {
  body {
    margin: 0.5cm 1.5cm;
  }

  .glitch {
    display: none;
  }
  .hero {
    padding: 0;
    margin: 0;
    display: block;
    &__header {
      text-align: left;
      width: 100%;
      font-size: $headerSize;
      line-height: $headerSize;
      color: var(--colorBlack);
      margin-bottom: $defaultPadding * 4;
      &:after,
      &:before {
        content: none;
      }
    }
    &__stripes {
      display: none;
    }
    &__image {
      position: relative;
      margin: 0;
      padding: 0;
      filter: none;
      &:before,
      &:after {
        content: none;
      }
      &-inner {
        margin: 0;
        padding: 0;
        position: relative;
        overflow: auto;
        filter: none;
        &:before,
        &:after {
          content: none;
        }
      }
    }
    img {
      margin: 0;
      padding: 0;
      position: relative;
      height: 10cm;
      filter: none;
    }
    &__text {
      color: var(--colorBlack);
      padding: 0;
      margin: 0;
      margin-bottom: $defaultPadding * 4;
      line-height: $fontSize * 2;
      font-size: $fontSize;
      //margin-bottom: $defaultPadding * 4;
    }
  }

  .menu,
  .switch {
    display: none;
  }

  .content {
    padding: 0;
    margin: 0;
    display: block;
    text-align: left;
    &__title {
      margin: 0;
      padding: 0;
      color: var(--colorBlack);
      font-size: $headerSize;
      line-height: $headerSize;
      margin-bottom: $defaultPadding * 4;
      text-align: left;
      //padding-bottom: $defaultPadding * 4;
    }

    &__text {
      margin-bottom: $defaultPadding * 4;
      line-height: $fontSize * 2;
      font-size: $fontSize;
      color: var(--colorBlack);
      span {
        margin: 0;
        padding: 0;
        color: var(--colorBlack);
      }
      &-one {
        text-align: left;
        &:after {
          content: none;
          font-size: 0rem;
          line-height: 0;
          margin: 0;
          padding: 0;
        }
      }
      &-two {
        &:after {
          content: none;
        }
        &:before {
          content: none;
        }
      }
    }
  }
  .glitch-content {
    display: block;
    padding: 0;
    margin: 0;
    transform: translateX(0) translateY(0);
    min-height: 1rem;
    &:after,
    &:before {
      content: none;
    }
    &__text-one {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      transform: translateX(0);
      text-align: left;
      max-width: 100%;
      line-height: $fontSize * 2;
      font-size: $fontSize;
      color: var(--colorBlack);
      &:after,
      &:before {
        content: none;
      }
    }
    &__text-two {
      color: var(--colorBlack);
      display: block;
      margin: 0;
      padding: 0;
      transform: translateX(0);
      text-align: left;
      height: auto;
      width: 100%;
      line-height: $fontSize * 2;
      font-size: $fontSize;
      &:after,
      &:before {
        content: none;
      }
    }

    &__title {
      margin-bottom: $defaultPadding * 4;
      line-height: $fontSize;
      font-size: $fontSize;
      transform: translateY(0);
      width: 100%;
      text-align: left;
      position: relative;
      margin: 0;
      max-width: 100%;
      color: var(--colorBlack);
      &:after,
      &:before {
        content: none;
      }
    }
  }
  .glitch-content-white {
    min-height: 1.5rem;
    padding: 0;
    margin: 0;

    &:after,
    &:before {
      content: none;
    }

    &__text {
      position: relative;
      transform: rotate(0deg);
      width: 100%;
      max-width: 100%;
      text-align: left;
      color: var(--colorBlack);
      margin: 0;
      padding: 0;
      font-size: $fontSize;
      line-height: $fontSize * 2;
      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
    &__title {
      &-one {
        margin-bottom: $defaultPadding * 4;
        line-height: $fontSize * 2;
        font-size: $fontSize;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        transform: translateY(0);
        color: var(--colorBlack);
        &:after,
        &:before {
          content: none;
        }
      }
      &-two {
        display: none;
      }
    }
    &__extra,
    &__extra-one,
    &__extra-two,
    &__extra-three {
      display: none;
    }
  }
  .glitch-end {
    display: none;
    min-height: 1rem;
  }
}
